body{
    background: linear-gradient(to right, rgb(241, 180, 243), rgb(253, 144, 253), rgb(202, 173, 255), rgb(207, 207, 255));
}
header{border-bottom: 1px solid rgb(241, 180, 243);
    padding: 0 0 30px 0;}
a{ background: linear-gradient(to right, rgb(241, 180, 243), rgb(253, 144, 253), rgb(202, 173, 255), rgb(207, 207, 255));
}

.weather-app{background: white;
max-width: 500px;
margin: 45px auto;
    display: block;
padding:30px;
border-radius: 10px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.search-form{
    
    background: linear-gradient(to right, rgb(241, 180, 243), rgb(253, 144, 253), rgb(202, 173, 255), rgb(207, 207, 255));
  border-radius: 6px;
    padding: 20px;
    border: none;
    max-width: 95%;
    font-size: 16px;;
}
.search-form-button{
    background-color: white;
    border:none;
    padding: 10px 40px;
    border-radius: 5px;
    color: black;
    margin-left: 40px;
    font-size: 16px;
}
.search-form-button:hover{
    background-color: rgb(241, 180, 243);
    color: white;
    cursor: pointer;
}
.search-input{background-color: white;
    border:none;

    border-radius: 5px;
    color: black;
    padding: 10px 10px;
    font-size: 16px;
    width: 60%;}

.weather-app-data{display:flex;
    justify-content: space-between;
}
    
.weather-app-city{
    margin: 0 auto;
    font-size: 30px;
    line-height: 48px;
}
.weather-app-description{
    font-size: 14px;
    line-height: 30px;
    color: rgba(39, 33, 66, 0.4);
    
}
.weather-app-description strong{
    color: rgba(243, 130, 247, 0.8);
    font-weight: 600;
}
.weather-temp-container{display: flex;
align-items: center;}


   
    footer{ border-top: linear-gradient(to right, rgb(241, 180, 243), rgb(253, 144, 253), rgb(202, 173, 255), rgb(207, 207, 255));
        padding: 30px 0px 0px;
        font-size: 14px;
        color: black;
        text-align: center;
        
            }

     
.weather-app-icon {
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin-right: 0px; /* space between icon and temperature */
  }
  
  .weather-app-temp-value {
    font-size: 80px;
    font-weight: bold;
    line-height: 88px;
  }
    
    .weather-app-unit{
        margin-top: 6px;
        font-size: 28px;

    }
    .weather-app-unit:hover{
        cursor: pointer;
        color: rgb(241, 180, 243);
    }
   