body{
    background: linear-gradient(to right, rgb(241, 180, 243), rgb(253, 144, 253), rgb(202, 173, 255), rgb(207, 207, 255));
}
.weather-app{background: white;
max-width: 500px;
margin: 45px auto;
    display: block;
padding:30px;
border-radius: 10px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
